<%- include('./partials/header') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Testing Develop Using NodeJS
                </div>

                <div class="card-body">
                    <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Well done!</h4>
                      <p>Aplication Testing Develop, your can clone repository gitlab in <a href="https://gitlab.com/mirzapurnandi/female-daily.git">https://gitlab.com/mirzapurnandi/female-daily.git</a> </p>
                      <hr>
                      <p class="mb-0">Programmer: <a href="mailto:mirza.purnandi@gmail.com"> Mirza Purnandi, S.ST., MT </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>