<%- include('../partials/header') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Pivot Customer
                </div>

                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                              <th scope="col">No</th>
                              <th>Fullname</th>
                              <th>Email</th>
                              <th>Barang1</th>
                              <th>Barang2</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% result.forEach((val, index) => { %>
                            <tr>
                              <td><%= index+1 %></td>
                              <td><%= val.firstname %></td>
                              <td><%= val.email %></td>
                              <td>1</td>
                              <td>2</td>
                            </tr>
                          <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>